body
{ 
	width:100%; 
	margin: 0; 
	font-family: 'Segoe UI', sans-serif;
}
#login, #scene 
{
	display: none;
	position: absolute;
	height:100%;
	background-color: #eee;
	width: 100%;
}
#login 
{
	display: block;
}
#userAuth
{
	width: 20%;
	margin:20% 20%;
}

#serverStats
{
    right: 0;
    height: 100%;

	/*max-width: 400px;*/
	background-color: #330066;
	width: 250px;
	position: absolute;
}
#readyToPlay
{
	margin-left: 5%;
	padding: 12px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	width: 90%;
	bottom: 10;
	color: #fff;
	background: #00CC33;
	border: 2px solid white;
	position: absolute;
}
.fill
{
	width:100%;
}
#title
{
	height: 4%;
	text-align: center;
}
#users
{
	height: 90%;
}
.floatMiddle
{
	width:90%;
	margin:0 auto;
	border-bottom: 1px solid #999999;
}
#noUsers
{
	text-align: center;
}
.userEntry
{
	width: 100%;
	height:10px;
}
.user
{
	width: 100%;
	max-height: 40px;
}
.statusWrap
{
	width: 15%;
	float: left;
}
.status
{
	margin: 0 auto;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	background-color: #444;
}
.name
{
	width: 85%;
}

button, input
{
    display: block;
    margin: 3px auto;
}
input[type="text"] 
{
	display: block;
  	font-family: 'Segoe UI', sans serif;
  	appearance: none;
  	box-shadow: none;
  	border-radius: none;
	padding: 10px;
	border: none;
	border-bottom: solid 2px #a9a9a9;
	transition: border 0.3s;
}
input[type="text"]:focus
{
	outline:none;
	border-bottom: solid 2px #555;
}
input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input:-moz-placeholder 
{ 
	font-size: 12pt; 
	color: #CC0000; 
}

button
{
	color: #ffffff;
	background: #a9a9a9;
	text-decoration: none;
	border: none;
	padding: 5px 10px;
}
button:hover 
{
  	background: #969696;
}