body
{ 
	width:100%; 
	margin: 0; 
	font-family: 'Roboto', sans-serif;
}
#main
{
	height:100%;
	background-color: #eee;
	width: calc(100% - 250px);
	position: absolute;
}
#login 
{
	opacity: 1;
}
#scene
{
	/*opacity: 0;*/
}
.absolute
{
	position: absolute;
}
#userAuth
{
	width: 20%;
	margin:20% auto;
}
#message
{
	text-align: center;
}
.fill
{
	width:100%;
	height: 100%;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
}
.table
{
	display: table;
}
.middleCell
{
	display: table-cell;
	vertical-align: middle;
}
.slideLeft
{
    right: 0;
}
.slideRight
{
	right : -100%;
}
#serverStats
{
    height: 100%;
    color: #cdd4d7;
	background-color: #455a64;
	width: 250px;
	position: absolute;
	transition : all 1s ease;
	-webkit-transition: all ease 1s; 
	-moz-transition : all ease 1s;
}
#ready
{
	margin-left: 5%;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	width: 90%;
	bottom: 10;
	color: #fff;
	background: #33CC33;
	border-radius: 5px;
	position: absolute;
}

#title
{
	text-align: center;
	background-color: #304650;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	padding: 5% 0%;
	width: 100%;
}
#users
{
	height: 90%;
	width: 100%;
}
#userListWrapper
{
	margin-top:2%; 
}
.floatMiddle
{
	width:90%;
	margin:0 auto;
}
#noUsers
{
	text-align: center;
}
.userEntry
{
	width: 100%;
	height:10px;
}
.user
{
	width: 100%;
	max-height: 40px;
    position: relative;
    transition: 0.5s ease all;
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
}
.statusWrap
{
	display: inline-block;
	width: 15%;
	float: left;
}
.status
{
	margin: 0 auto;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	position: relative;
	top: 50%;
	transform: 	translateY(20%);
}
.idle
{
	background-color: #444;
}
.searching
{
	background-color: #33CC33;
}
.engaged
{
	background-color: #FF6666;
}
.name
{
	display: inline-block;
	width: 60%;
}

button, input, .middle
{
    display: block;
    margin: 2px auto;
	text-align: center; 
}
input[type="text"] 
{
	display: block;
	font-family: 'Roboto', sans-serif;
  	appearance: none;
  	box-shadow: none;
  	background: none;
  	border-radius: none;
	padding: 10px;
	border: none;
	border-bottom: solid 2px #a9a9a9;
	transition: border 0.3s;
}
input[type="text"]:focus
{
	outline:none;
	color: #455a64;
	background: none;
	border-bottom: solid 2px #6c7f88;
}

#submit
{
	color: #cdd4d7;
	background: #455a64;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	padding: 7px 15px;
}

/*#header
{
	margin-top: 1%;
	height: 5%;
	
}

#logout
{
	background: #92cfde;
	border-radius: 5px;
	padding : 80%;
	margin-top: 5% ;
	text-align: center;
}
*/

#inviteBtn
{
	display: inline-block;
	width: 20%;
}
#invite
{
	width :50%;
}
#okBtn
{
	display: inline-block;
	width: 20%;
}
#cancelBtn
{
	display: inline-block;
	width: 20%;
}
#submit:hover 
{
  	background: #304650;
}
#ready:hover
{
	background-color: #00aa00;
}
.user.ng-enter
{ 
    top: 50px;
    opacity: 0;
} 
.user.ng-enter-active
{
    top: 0;
    opacity: 1;	
}
.user.ng-leave
{
	left:0;
    opacity: 1;	
}
.user.ng-leave-active
{
	left:100%;
    opacity: 0;	
}