<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div id="messageBoard" class="fill absolute table">
	<div id = "header">
		<button id = "logout" ng-click="logoutUser()">
			Logout
		</button>
	</div>
	<div id="lobbyId" class = 'myArea'>
		<div id="team" align="center" >
			<div class = 'teamMate' ng-repeat = "player in lobbyRoom">
				<div  class = "teamMateCircle" class tooltip = "{{player}}" >
					{{player}}
				</div>
			</div>
		</div>
		<div id = "invites" class = "invites" ng-repeat = "(id, invite) in invites">
			<div id = "invite" class = "invite">invite from {{invite}} 
				<div id="okBtn" >
					<button  name = "{{invite}}" ng-click="acceptInvite(id)">
							Ok
					</button>	
				</div>
				<div id="cancelBtn">
					<button  name = "{{invite}}" ng-click="removeInvite(invite)">
						Cancel
					</button>	
				</div>
			</div>
		</div>
		<div id="startGame" align="center">
			<div>Start Game!</div>
		</div>		
	</div>

		<div id="message">
			{{message}}
		</div>
</div>
<div id="serverStats" class="{{ animateClass }}">
	<div id="title">
		<div class="floatMiddle">
			Players
		</div>
	</div>
	<div id="userListWrapper">
		<div id="user" class = "user"  ng-repeat = "(user, status) in userList">
			<div class = "statusWrap">
				<div class = "status {{ status }}" ></div>
			</div>
			<div class = "name" name = '{{ user }}'>{{ user }}</div>
			<div id="inviteBtn" >
			<button  ng-click="inviteFriend()">
						invite
				</button>	
			</div>
			<!-- <div id="noUsers">Register to see who's online!</div> -->
		</div>
		<div id="footer">
			<button id="ready" ng-click="engageUser()">
				Ready To Play!
			</button>	
		</div>
	</div>
</div>
