<div id="messageBoard" class="fill absolute table">
<div id = "header">
	<button id = "logout" ng-click="logoutUser()">
		Logout
	</button>
</div>
	<div class="middleCell">
		<div id="message">
			{{message}}
		</div>
	</div>
</div>
<div id="serverStats" class="{{ animateClass }}">
	<div id="title">
		<div class="floatMiddle">
			Players
		</div>
	</div>
	<div id="userListWrapper">
		<div id="user" class = "user"  ng-repeat = "(user, status) in userList">
			<div class = "statusWrap">
				<div class = "status {{ status }}" ></div>
			</div>
			<div class = "name">{{ user }}</div>
			<!-- <div id="noUsers">Register to see who's online!</div> -->
		</div>
		<div id="footer">
			<button id="ready" ng-click="engageUser()">
				Ready To Play!
			</button>	
		</div>
	</div>
</div>
