<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div id = "header">
		<div id = "settings" ng-click="setting()">
			&nbsp;<span>Settings</span>&nbsp;
		</div>
		<div id = "logout" ng-click="logoutUser()">
			&nbsp;<span>Logout</span>&nbsp;
		</div>
		<div id="userList"></div>
	</div>
<div id="messageBoard" class="fill absolute table">
	<div class = 'myArea' align="center">
		<div id="team" align="center" >	
			<div class = 'teamMate' ng-repeat = "player in lobbyRoom track by $index">
				<div class="teamMateCircle" class tooltip = "{{player}}" >
					&nbsp;{{player}}&nbsp;
				</div>
			</div>
		</div>
		<div id = "invites" class = "invites" ng-repeat = "(id, inviteWrapper) in invites">
			<div id="inviteWrapper" class="inviteWrapper">
				<div class="avatarWrapper"><div class="avatar"></div></div>
				<div id = "invite" class = "invite">invite from {{invite}} 
				</div>
				<div class="okBtnWrapper" >
					<div class="okBtn"  name = "{{invite}}" ng-click="acceptInvite(id)"></div>		
				</div>
				<div class="cancelBtnWrapper">
					<div class="cancelBtn" name = "{{invite}}" ng-click="removeInvite(invite)"></div>	
				</div>
			</div>
			
		</div>
		<div id="startGame" align="center" ng-click="engageUser()">
			<div>Start Game!</div>
		</div>		
	</div>

	<div id="message">
		{{message}}
	</div>

</div>
<div id="serverStats" class="{{ animateClass }}">
	<div id="title">
		<div class="floatMiddle">
			Players
		</div>
	</div>
	<div id="userListWrapper">
		<div id="user" class = "user"  ng-repeat = "(user, status) in userList">
			<div class = "statusWrap">
				<div class = "status {{ status }}" ></div>
			</div>
			<div class = "name" name = '{{ user }}'>{{ user }}</div>
			<div id="inviteBtn" >
			<button  ng-click="inviteFriend()">
						invite
				</button>	
			</div>
			<!-- <div id="noUsers">Register to see who's online!</div> -->
		</div>
		<div id="footer">
			<button id="ready" ng-click="engageUser()">
				Ready To Play!
			</button>	
		</div>
	</div>
</div>
